*{
  margin: 0;
  padding: 0;
}

.App {
  min-height: 100vh;
  text-align: center;
  background-color:white;
  position: relative;

}

h2 {
  font-family: 'Poppins', sans-serif;
}
h4 {
  font-family: 'Alata', sans-serif;
}

.btn {
  transition: all 150ms ease-in;
  font-weight: bold !important;
}

.btn:hover {
  background-color: orange !important;
  color: black !important;
  
}



