.paymentForm {
  border: 1px solid black;
  padding: 1rem;
  width: 95%;
  margin: auto;
}
.paymentForm input {
  width: 400px;
}


@media screen  and (max-width: 1200px) {
  .paymentForm input {
    width: 300px;
  }

  .paymentForm {
    margin-bottom: 1rem;
  }
}
