.checkout-after-container {
  text-align: center;
  width: 95%;
  color: white;
  background:tomato;
  padding: 1rem;
  margin: auto;
  overflow:hidden;
}

@media screen and (max-width: 1000px){
  .checkout-after-container{
    width: 100%;
  }
}