.footer {
  padding: 10px;
  width: 100vw;
}

.footer a {
  color: white;
  font-size: .95rem;
  transition: 300ms all;
}

.footer a:hover {
  color: orange;
  text-decoration: none;
}
.addy {
  padding-top: 2rem;
  font-size: .75rem;
}

.footer a.active {
  border-bottom: 1px solid white;
}