.home-box{
  min-height: 50vh;
}

.header-box {
  position: relative;
  overflow: hidden;
}


.header-image {
  max-width: 100%;
  filter: brightness(50%);


}

.header-text {
  color: white;
  max-width: max-content;
  padding-left: 5px;
  padding-right: 5px;
  z-index: 2;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 30%;
  font-family: 'Alata', sans-serif;
}

.header-text h1 {
  font-size: 5rem;
  border-bottom: 2px solid white;
  transition: font-size 40ms linear;
}


.middle-img {
  width: 100vw;
  filter: brightness(50%);
  z-index: -1;

}

.middle-text {
  color: white;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 45%;
  z-index: 2;
  /* border: 5px solid red; */
}

.middle-text h2 {
  font-size: 4rem;
}

@media only screen and (max-width: 800px) {

  .header-text h1 {
    font-size: 4rem;
  }

  .middle-text h2 {
    font-size: 2rem;
  }

  .middle-text {
    bottom:35%;
  }
}
@media only screen and (max-width: 650px) {

  .header-text h1 {
    font-size: 2rem;
  }
  .middle-text h2 {
    font-size: 1.5rem;
  }

  .middle-text {
    bottom:15%;
  }
}






